<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahav.reserve.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.ahav.reserve.pojo.Room">
    <id column="meeting_room_id" jdbcType="INTEGER" property="meetingRoomId" />
    <result column="meeting_room_scale" jdbcType="INTEGER" property="meetingRoomScale" />
    <result column="meeting_room_name" jdbcType="VARCHAR" property="meetingRoomName" />
    <result column="meeting_equipment_list" jdbcType="VARCHAR" property="meetingEquipmentList" />
    <result column="meeting_room_status" jdbcType="INTEGER" property="meetingRoomStatus" />
    <result column="pub_ip" jdbcType="VARCHAR" property="pubIp" />
    <result column="presetmode_list" jdbcType="VARCHAR" property="presetmodeList" />
  </resultMap>
  <sql id="Base_Column_List">
    meeting_room_id, meeting_room_scale, meeting_room_name, meeting_equipment_list, meeting_room_status,pub_ip,presetmode_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room
    where meeting_room_id = #{meetingRoomId,jdbcType=INTEGER}
  </select>
  <select id="selectRoomAll" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List" />
      FROM room
  </select>
  <!--根据会议室ID查询出会议室的名字   返回类型必须加-->
  <select id="selectRoomName" parameterType="java.lang.Integer" resultType="java.lang.String">
      SELECT meeting_room_name
      FROM room
      WHERE meeting_room_id = #{roomId,jdbcType=INTEGER}
  </select>
  <!-- 根据会议室名称查询会议室 -->
  <select id="selectRoomByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM room
    where meeting_room_name = #{meetingRoomName,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room
    where meeting_room_id = #{meetingRoomId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ahav.reserve.pojo.Room">
    insert into room (meeting_room_id, meeting_room_scale, 
      meeting_room_name, meeting_equipment_list, meeting_room_status, pub_ip, presetmode_list
      )
    values (#{meetingRoomId,jdbcType=INTEGER}, #{meetingRoomScale,jdbcType=INTEGER}, 
      #{meetingRoomName,jdbcType=VARCHAR}, #{meetingEquipmentList,jdbcType=VARCHAR}, #{meetingRoomStatus,jdbcType=INTEGER},
      #{pubIp,jdbcType=VARCHAR},#{presetmodeList,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ahav.reserve.pojo.Room">
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="meetingRoomId != null">
        meeting_room_id,
      </if>
      <if test="meetingRoomScale != null">
        meeting_room_scale,
      </if>
      <if test="meetingRoomName != null">
        meeting_room_name,
      </if>
      <if test="meetingEquipmentList != null">
        meeting_equipment_list,
      </if>
      <if test="meetingRoomStatus != null">
        meeting_room_status,
      </if>
      <if test="pubIp != null">
        pub_ip,
      </if>
      <if test="presetmodeList != null">
        presetmode_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="meetingRoomId != null">
        #{meetingRoomId,jdbcType=INTEGER},
      </if>
      <if test="meetingRoomScale != null">
        #{meetingRoomScale,jdbcType=INTEGER},
      </if>
      <if test="meetingRoomName != null">
        #{meetingRoomName,jdbcType=VARCHAR},
      </if>
      <if test="meetingEquipmentList != null">
        #{meetingEquipmentList,jdbcType=VARCHAR},
      </if>
      <if test="meetingRoomStatus != null">
        #{meetingRoomStatus,jdbcType=INTEGER},
      </if>
      <if test="pubIp != null">
        #{pubIp,jdbcType=VARCHAR},
      </if>
      <if test="presetmodeList != null">
        #{presetmodeList,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ahav.reserve.pojo.Room">
    update room
    <set>
      <if test="meetingRoomScale != null">
        meeting_room_scale = #{meetingRoomScale,jdbcType=INTEGER},
      </if>
      <if test="meetingRoomName != null">
        meeting_room_name = #{meetingRoomName,jdbcType=VARCHAR},
      </if>
      <if test="meetingEquipmentList != null">
        meeting_equipment_list = #{meetingEquipmentList,jdbcType=VARCHAR},
      </if>
      <if test="meetingRoomStatus != null">
        meeting_room_status = #{meetingRoomStatus,jdbcType=INTEGER},
      </if>
      <if test="pubIp != null">
        pub_ip = #{pubIp,jdbcType=VARCHAR},
      </if>
      <if test="presetmodeList != null">
        presetmode_list = #{presetmodeList,jdbcType=VARCHAR},
      </if>
    </set>
    where meeting_room_id = #{meetingRoomId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ahav.reserve.pojo.Room">
    update room
    set meeting_room_scale = #{meetingRoomScale,jdbcType=INTEGER},
      meeting_room_name = #{meetingRoomName,jdbcType=VARCHAR},
      meeting_equipment_list = #{meetingEquipmentList,jdbcType=VARCHAR},
      meeting_room_status = #{meetingRoomStatus,jdbcType=INTEGER},
      pub_ip = #{pubIp,jdbcType=VARCHAR},
      presetmode_list = #{presetmodeList,jdbcType=VARCHAR}
    where meeting_room_id = #{meetingRoomId,jdbcType=INTEGER}
  </update>
</mapper>