<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ahav.system.dao.UserRoleDao">

    <!-- 添加成员-角色关联关系 -->
    <insert id="insertUserRole" parameterType="com.ahav.system.entity.User">
        INSERT INTO sys_user_role
            (user_id, role_id)
        VALUES
            (#{userId}, #{role.roleId})
    </insert>
    
    <!-- 更新成员-角色关联关系 -->
    <update id="updateUserRole" parameterType="com.ahav.system.entity.User">
        UPDATE sys_user_role
        SET role_id = #{role.roleId}            
        WHERE user_id = #{userId}
    </update>
    
    <!-- 根据用户id删除用户-角色对应关系 -->
    <delete id="deleteUserRole" parameterType="int">
        DELETE FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>
	<select id="findRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
	  	select role_id from sys_user_role
	  	where user_id=#{userId,jdbcType=INTEGER}
	</select>
</mapper>